{% extends 'store/base.html' %}

{% block content %}
<h1>{{category.name|title}}</h1>
<div class="row align-items-center">
    {% for product in products %}
    <div class="col-lg-6">
      <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="{{ product.image.url }}" alt="..." /></a>
          <div class="card-body">
            <div class="small text-muted">{{ product.created }}</div>
            <h2 class="card-title h4">{{ product.title }}</h2>
            <p class="card-text">{{ product.description_title|slice:"90" }}...</p>
            <a class="btn btn-primary" href="{{ product.get_absolute_url }}">leer mas →</a>
          </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}